{% extends 'dashboard/base.html' %}
{% block title %}Category - Delete{% endblock %}
{% load static %}
{% block content %}

<h3>Siz shu {{ ctg.content }} o'chirmoqchimsiz ?</h3>

<a href="{% url 'dash_ctg_delete' dlt=ctg.id %}">
<button type="button" class="btn btn-wd btn-success  btn-rotate">
    <span class="btn-label">
        <i class="fa fa-check"></i>
    </span>
    Ha
</button>
</a>

<a href="{% url 'dashboard_ctg_list' %}">
<button type="button" class="btn btn-wd btn-danger">
    <span class="btn-label">
        <i class="fa fa-times"></i>
    </span>
    Yo'q
</button>
</a>
{% endblock %}
