{% extends 'dashboard/base.html' %}
{% block title %}Category - List{% endblock %}
{% load static %}
{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><b>Category Detail</b></h4>
            <p class="category"><a>Categoryning toliq infomatsiyasi</a></p>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <th><b>№</b></th>
                <th><b>ID</b></th>
                <th><b>Content</b></th>
                <th><b>Actions</b></th>
                </thead>
                <tbody>
                {% for i in ctgs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.id }}</td>
                        <td>{{ i.content }}</td>
                        <td class="td-actions">
                            <a href="{% url 'dash_ctg_detail' pk=i.id %}" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                <i class="ti-user"></i>
                            </a>
                            <a href="{% url 'dash_ctg_edit' pk=i.id %}" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                <i class="ti-pencil-alt"></i>
                            </a>
                            <a href="{% url 'dash_ctg_conf' pk=i.id %}" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                <i class="ti-close"></i>
                            </a>
                        </td>
                {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'dash_ctg_add' %}">
    <button type="button" class="btn btn-wd btn-success">
        <span class="btn-label">
            <i class="fa fa-plus"></i>
        </span>
        Add category
    </button>
    </a>
</div>

{% endblock %}